<h1>Listing formations</h1>

<table>
  <tr>
    <th>Public</th>
    <th>Notes</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @formations.each do |formation| %>
  <tr>
    <td><%= formation.public %></td>
    <td><%= formation.notes %></td>
    <td><%= link_to 'Show', formation %></td>
    <td><%= link_to 'Edit', edit_formation_path(formation) %></td>
    <td><%= link_to 'Destroy', formation, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Formation', new_formation_path %>
