<h1>Listing user_sessions</h1>

<table>
  <tr>
    <th>Username</th>
    <th>Password</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @player_sessions.each do |player_session| %>
  <tr>
    <td><%= player_session.username %></td>
    <td><%= player_session.password %></td>
    <td><%= link_to 'Show', player_session %></td>
    <td><%= link_to 'Edit', edit_player_session_path(user_session) %></td>
    <td><%= link_to 'Destroy', player_session, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New User session', new_player_session_path %>
