<!DOCTYPE html>
<html>
<head>
  <title>ReTactics</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :all, :recursive => true %>
  <%= csrf_meta_tag %>
</head>
<body>
  <div id="header">
	<div class="current-player">
	<% if current_player %>
	  Welcome, <%= link_to current_player.username, :profile %>
	<% else %>
	  Welcome, <span class="accent">Guest</span>
	<% end %>
	</div>
	<div class="retactics-logo">
	  <span class="accent">Re</span>Tactics
	</div>
	<div class="break"></div>
	<div class="player-options">
	  <% if current_player %>
		<%= link_to "Profile", :profile %>
		<%= link_to "Lobby", :lobby %>
	    <%= link_to "Logout", :logout %>
	  <% else %>
	    <%= link_to "Login", :login %>
	    <%= link_to "Register", :register %>	
	  <% end %>	
	  <div class="break"></div>
	</div>
  </div>
<%= yield %>
</body>
</html>
