<!DOCTYPE html>
<html>
<head>
  <title>ReTactics</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag 'jquery.js' %>
  <%= javascript_include_tag 'constants.js' %>
  <%= javascript_include_tag 'util.js' %>
  <%= javascript_include_tag 'units.js' %>
  <%= javascript_include_tag 'board.js' %>
  <%= javascript_include_tag 'player.js' %>
  <%= javascript_include_tag 'game.js' %>
  <%= javascript_include_tag 'application.js' %>
  <%= csrf_meta_tag %>
</head>
<body>
<%= yield %>
</body>
</html>
