<!DOCTYPE html>
<html>
<head>
  <title>ReTactics</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag 'jquery.js' %>
  <%= javascript_include_tag 'constants.js' %>
  <%= javascript_include_tag 'util.js' %>
  <%= javascript_include_tag 'units.js' %>
  <%= javascript_include_tag 'board.js' %>
  <%= javascript_include_tag 'player.js' %>
  <%= javascript_include_tag 'game.js' %>
  <%= javascript_include_tag 'application.js' %>
  <%= csrf_meta_tag %>
</head>
<body>
  <div id="header">
	<div class="CurrentPlayer">
	<% if current_player %>
	  Welcome, <%= link_to current_player.username, :profile %>
	<% else %>
	  Welcome, <span class="accent">Guest</span>
	<% end %>
	</div>
	<div class="ReTacticsLogo">
	  <span class="accent">Re</span>Tactics
	</div>
	<div class="break"></div>
	<div class="PlayerOptions">
	  <% if current_player %>
	    <%= link_to "Logout", :logout %>
	    <%= link_to "Messages (0)", "/messages" %>
	  <% else %>
	    <%= link_to "Login", :login %>
	    <%= link_to "Register", :register %>	
	  <% end %>	
	  <div class="break"></div>
	</div>
  </div>
<%= yield %>
</body>
</html>
